<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>GoodsInfo</title>
</head>
<body>
    <h1>商品情報</h1>
    <p>商品ID: <span th:text="${goodsForm.goodsId}"></span></p>

	<form th:action="@{/goods/{goodsId}(goodsId=${goodsForm.goodsId})}" th:object="${goodsForm}" method="post">
		受渡済み
		<input type="checkbox" th:field="*{counterHandoverFrag}" th:checked="*{counterHandoverFrag}"value="1"/>
		
		<p>受け渡し状況: 
	        <th:block th:if="${goodsForm.counterHandoverFrag} eq '0'">未受渡</th:block>
	        <th:block th:if="${goodsForm.counterHandoverFrag} eq '1'">受渡済み</th:block>
    	</p>
    	<p>
			(更新前: <font color="red">
				<th:block th:if="${goodsForm.counterHandoverFrag} eq '0'">受渡済み</th:block>
				<th:block th:if="${goodsForm.counterHandoverFrag} eq '1'">未受渡</th:block>
			</font>)
		</p>
    	
    	<p>受け渡し日: 
        	<span th:text="${goodsForm.counterHandoverDate}"></span>
    	</p>
		
		<button type="submit">登録</button>
	</form>
</body>
</html>
